<configuration>
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>[%d{dd/MM/yyyy HH:mm:ss} %class:%method %level]: %msg%n%ex</Pattern>
    </layout>
  </appender>

  <appender name="rollingfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>testOutput/OpenbusLog.txt</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <FileNamePattern>testOutput/OpenbusLog.%i.log</FileNamePattern>
      <MinIndex>1</MinIndex>
      <MaxIndex>5</MaxIndex>
    </rollingPolicy>

    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>10MB</MaxFileSize>
    </triggeringPolicy>

    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>[%logger %level] %d{dd/MM/yyyy; HH:mm:ss}; %method; %msg%n</Pattern>
    </layout>
  </appender>

  <logger name="LoadTest" additivity="false">
    <appender-ref ref="rollingfile" />
  </logger>

  <root level="debug">
    <appender-ref ref="stdout" />
  </root>
</configuration>